:root {
    /* colors */
    --title-text-color: #2E2F42;
    --primary-text-color: #434455;
    --primary-text-white-color: #ffffff;
    --primary-text-light-color: #F4F4FD;
    --dark-bg-color: #2E2F42;
    --primary-bg-color: #E5E5E5;
    --light-bg-color: #F4F4FD;
    --acent-color: #4D5AE5;
    --active-color: #404BBF;
    /* додані через ФІГМУ */
    --color-green: : #31d0aa;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-dairy: #fcfcfc;

    /* fonts */
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    /* others */

}



/* bacic styles */
body {
    background-color: var(--primary-text-white-color);
    font-family: Roboto, sans-serif;
    color: #434455
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.link {
    text-decoration: none
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;

}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;


    outline: 2px solid red;
    outline-offset: -2px;
}

ul {
    /* рекомендація ментора */
    padding-left: 0;
}

button {
    cursor: pointer;
}

.btn-primary {
    border: 1px transparent;
    border-radius: 4px;
}

/* .btn-secondary {
    border: 1px solid #E7E9FC;
} */

/* hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header styles + header and footer logo*/
.header {}

.header-logo-link,
.footer-logo-link {
    color: var(--acent-color);
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-logo-link {
    display: inline-block;

}

.header-logo-text {
    color: var(--title-text-color);
}

.header-nav {
    margin-right: auto;
    display: flex;
}

.container-nav-contact {
    display: flex;
    align-items: center;
}

.logo-text {
    color: var(--dark-bg-color)
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-item {}

.header-link {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0 24px 0;
    display: flex;
    gap: 40px;

}

.header-link:hover,
.header-link:focus {
    color: #404bbf;

}

.contacts {
    font-style: normal
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;

}

.contacts-item {}

.contacts-link {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;

}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.container-nav-contact {}

/* <  hero section */
.container-hero,
.container-goals {
    margin-bottom: 120px;
}

.hero {
    background-color: var(--dark-bg-color);
    text-align: center;
}

.container-hero {}

.hero-title {
    color: var(--primary-text-white-color);
    font-size: 56px;
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: none;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    padding-top: 188px;
}

.hero-btn {
    display: inline-block;
    padding: 16px 32px;
    font-family: inherit;
    background-color: #4D5AE5;
    color: var(--primary-text-white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    min-width: 169px;
    min-height: 56px;
    text-align: center;

}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    color: var(--primary-text-white-color)
}

/* goals */
.container-goals {}

.goals {}

.goals-title {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}


.goals-list {}

.goals-item: {}

.goals-desc {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 24px;
    /* прибрати margin-right 0; для останнього абзаццу */
}



/* services */

.services {}

.container {}


.services-title {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 72px;
}

.services-list {}

.services-item {
    margin-right: 24px;
}

/* team */
.container-team {}

.container-team-member {
    margin-right: 24px;
    border-radius: 0px 0px 4px 4px;
}

.team {
    background-color: var(--light-bg-color);
}

.team-title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 72px;


}

.team-list {}


.team-item {
    background-color: #FFFFFF
}

.team-img {
    width: 264px;
    margin-bottom: 32px;
}

.team-member {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-desc {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 120px;
}

/* PORTFOLIO PAGE */

/* content section */
.content {}

.content-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.content-item {}

.content-btn {
    color: var(--acent-color);
    background-color: var(--light-bg-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    padding: 12px 24px;
    min-width: 69px;
    min-height: 48px;
    border-radius: 4px;
}

.content-btn:hover,
.content-btn:focus,
.content-btn:active {
    background-color: #404BBF;
    color: var(--primary-text-white-color);
}

/* Projects  */
.projects {}

.projects-inisible-title {}

.projects-list {}

.projects-item {}

.projects-img {}

.projects-title {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.projects-desc {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* footer */

.container-footer {}

.footer {
    background-color: var(--dark-bg-color);
}

.footer-logo-link {
    display: inline-block;
    padding-top: 100px;
}

.footer-logo-text {
    color: #f4f4fd
}

.footer-desc {
    color: var(--primary-text-light-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 100px;
}